*{box-sizing: border-box;}

.container{
    display: flex;
}

.left-side{
    background-image: url('../assets/back.jpg');
    width: 900px;
    height: 1098px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 150px;
    height: 200px;
}

.left-header{
    background-color: rgba(0, 0, 0, .3);
    margin-top: 175px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    font-size: 5rem;
    color: white;
}

.credits {
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

a{
    color: black;
}

.right-side{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #FDFCFA;
}

.header{
    background-color: #FDFCFA;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
}

.header-text{
    margin-bottom: 30px;
    width: 880px;
    margin-left: 30px;
}

.inputs{
    background-color: #e9dbc1;
}

.text{
    font-size: 1.5rem;
    margin-left: 30px;
    padding-top: 15px;
}

.form-info{
    display: flex;
    margin-left: 30px;
    height: 250px;
}

.left-box{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.right-box{
    display: flex;
    flex-direction: column;
    width: 500px;
}

label{
    display: block;
}

input{
    width: 200px;
}

.submit {
    background-color: #FDFCFA;
    margin-left: 30px;
    margin-top: 40px;
    height: 350px;
}

