*{box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'VT323', monospace;
}



body{
    background-image: url('https://media4.giphy.com/media/rzeWnbH8Uc5Y4/giphy.gif?cid=ecf05e47bdpmzw9nnbajydse5rjr9pjggvs5w1qtddmv6vok&ep=v1_gifs_search&rid=giphy.gif&ct=g');
    background-size: 1500px 1100px;
}

.container{
    display: flex;
}

.left-side{
    width: 1200px;
    height: 1098px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 150px;
    height: 200px;
}

.left-header{
    background-color: rgba(0, 0, 0, .3);
    margin-top: 175px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    font-size: 5rem;
    color: white;
}

.credits {
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

a{
    color: black;
}

.right-side{
    display: flex;
    width: 700px;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.8);
    justify-content: center;
    
}

.header{
    background-color: #FDFCFA;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
}

.header-text{
    margin-bottom: 30px;
    width: 880px;
    margin-left: 30px;
}

.text{
    font-size: 1.5rem;
    margin-left: 30px;
    padding-top: 15px;
}

.form-info{
    display: flex;
    margin-left: 30px;
    height: 250px;
}

.left-box{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.right-box{
    display: flex;
    flex-direction: column;
    width: 500px;
}

label{
    display: block;
}

input{
    width: 350px;
    line-height: 2rem;
    background-color: #1F1F1F;
    border: none;
    color: #CCCCCC;
    font-size: 1.5rem;
    padding-left: 10px;
    border-radius: 8px;
}

.submit {
    background-color: #FDFCFA;
    margin-left: 30px;
    margin-top: 40px;
    height: 350px;
}

form{
    display: flex;
    justify-content: center;
}

fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 16px;
}

.form-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button-submit{
    display: flex;
    flex-direction: column;
}

.welcome{
    font-size: 4rem;
    color: #CCCCCC;
    font-weight: bold;
}

.sign-up{
    font-size: 3rem;
    color: #CCCCCC;
}

label:focus{
    outline: orange;
    color: orange;
    border: 1px solid orange;
}

label{
    color: #CCCCCC;
    font-size: 2rem;
}

button{
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-radius: 12px;
    padding: 20px;
    font-size: 2rem;
    cursor: pointer;
}


input:focus{
    outline: none;
    border: 1px solid orange;
}

input:invalid{
    border: 1px solid red;
}

